.header_block {
    width: 100%; 
    // background: linear-gradient(#000, transparent);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 50px;
}

@font-face {
    font-family: inkut-m;
    src: url(../assets/inkut/InknutAntiqua-Medium.ttf);
}

.header_logo {
    font-size: 50px;
    color: #000;
    font-family: inkut-m;
    margin-left: 70px;
}